.DS_Store
.venv/
.env.local
__pycache__/
*.pyc
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/

data/warehouse/*
!data/warehouse/.gitkeep

data/exports/*
!data/exports/.gitkeep
